params {
    sample = "A1101"
    software = "comet" //msgf;xtandem;maxquant
    result_file = "/data/A1101.pep.xml"
    spectrum_file = "/data/A1101.mgf"
    output_path = "/data/output/"
        
    pDeep2_path = "/data/pDeep2/"
    instrument = "Lumos"
    energy = 0.34

    memory = 16 //In GB
    threads = 12
}

report {

	enabled = true
	file    = "$params.output_path/${params.sample}_report.html"
}

docker {

	enabled    = true
	remove     = true
	runOptions = '-u $(id -u):$(id -g)'
	temp       = "/data/tmp/" //Please set up tmp folder
}
